SPOTIFY_CLIENT_ID=YOUR-SPOTIFY-CLIENT-ID (Tener Cuenta de Spotify Premium activa)
SPOTIFY_CLIENT_SECRET=YOUR-SPOTIFY-CLIENT-SECRET (Tener Cuenta de Spotify Premium activa)
SPOTIFY_REDIRECT_URL=http://127.0.0.1:8888/callback
TIKTOK_USERNAME=YOUR-TIKTOK-USERNAME
SIGN_API_KEY=YOUR-API-KEY-Eulerstream --> (SOLICITAR GRATIS EN https://www.eulerstream.com)