# =============================
.env
.env.*
*.env

!.env.example

# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
*.py,cover

# =============================
# Entornos virtuales
# =============================
.venv/
venv/
env/
ENV/

# =============================
# Build / empaquetado
# =============================
build/
dist/
*.egg-info/
.eggs/

# =============================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# =============================
# Logs
# =============================
*.log

# =============================
# IDE / Editor
# =============================
.idea/
.vscode/

# =============================
# Sistema operativo
# =============================
.DS_Store
Thumbs.db
